*.zip
*.wav
*.png
*.meta
*.mat
*.tiff
*.BMP
*.flac
*.jpg
*.tga
Petra/Library/metadata/
Petra/Library/ShaderCache/
*.psd
Petra/petra_test_Data/sharedassets0.assets
Petra/petra_test_Data/sharedassets0.assets.resS
Petra/petra_test_Data/sharedassets0.resource
Petra/petra_test_Data/sharedassets1.assets
Petra/petra_test_Data/sharedassets1.assets.resS
Petra/petra_test_Data/sharedassets1.resource
Petra/petra_test_Data/sharedassets2.assets
Petra/petra_test_Data/sharedassets2.assets.resS
Petra/petra_test_Data/sharedassets3.assets
Petra/petra_test_Data/sharedassets3.assets.resS
Petra/petra_test_Data/sharedassets4.assets
Petra/petra_test_Data/sharedassets4.assets.resS
Petra/Assets/SteamVR/Scenes/
